<!DOCTYPE html5>    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Digitalized Content</h1>
        <div style="display:flex;">
            <div>
                <div id="image-container" class="image-container">
                    <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
                </div>
            </div>
            <div>
                <div class="text" "width: 400px;">
                    <h2>Filename: {{ filename }}</h2>
                    <h3>Output:</h3>
                    <pre>{{ content }}</pre>
               </div>
            </div>
        </div>
       <div style="display: flex; justify-content: space-around;">
        <form action="{{ url_for('download_pdf') }}" method="post">
            <input type="hidden" name="filename" value="{{ filename }}">
            <input type="submit" value="Download">
        </form>
        <form action="{{ url_for('back_to_home') }}" method="post">
            <input type="hidden" name="filename" value="{{ filename }}">
            <input type="submit" value="Back to Home">
        </form>
       </div>
    </div>
</body>
</html>